header, footer{
    background-color: #ADD8E6;
    padding: 0% 0;
    display: flex;
    justify-content: center;
    
}

.caja-header, .caja-footer{
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    position: relative;
    margin: 0 auto;
    /* display: inline-block; */
} 
                
.imagen-logo-alura-oracle{
    transform: scale(0.4);
}

.titulo-header{
    display: inline;
}

/* .nav samp{
    display: inline;
    margin: 0 0 0 15px;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
} */

.cuerpo{
    width: 100%;
    background: linear-gradient(#adc9e6, #349289);
    display: flex;
    justify-content: center;
}
.caja-cuerpo{
    padding: 40px;
    width: 70%;
    display: block;
}

.texto-entrada {
    display: inline-block;
    width: 50%;
    padding: 4% 10% 5% 4%;
}

.texto-entrada{
    width: 40%;
}

.botones{
    display: flex;
    justify-content: center;
}

.boton-encriptar , .boton-desencriptar, .boton-copiar{
    width: 40%;
    height: 30px;
    padding: 0 2% 0 0;
    background: #23646f;
    border: none;
    border-radius: 10%;
    color: white;
    cursor: pointer;
    margin: 0 5px 0 5px;
}

.cajon-texto-encriptar, .mensaje-alerta, .bloque-texto{
    width: 90%;
    border-radius: 8%;
    font-size: 20px;
}

.guardado-vacio{
    
    display: inline-block;
    width: 20%;
    padding: 4% 10% 5% 5%;
}

.imagen-lupa{
    width: 20%;
}

.ultima-leyeda{
    font-size: larges;
    text-align: center;
    display: inline;
}

.pie-pagina{    
    clear: both;
    background-color: #ADD8E6;
    padding: 0% 0;
    margin-top: 0;
}

.parrafo-footer, .parrafo-header {
    display: inline-block; 
    color: white; 
    /* font-size: 20px;  */
    text-align: center; 
    position: relative; 
    /* padding: 5% 15% 5% 15%;  */
    font-family: cursive;
}

span{
    letter-spacing: 2px;
    font-style: italic;
    /* font-weight: 200px; */
    cursor: default;
}

.social-icons{
    display: inline-block; 
    /* position: absolute;  */
    /* padding: 10px 10px 0px 10px; */
}
.logo-red-social{
    width: 30px; 
    height: 30px;
}

@media screen and (max-width:500px){

    body{
        width: fit-content;
    }
    header{
        /* height: 230px; */
        width: auto;
    }
    .caja-header, .caja-footer{
        display: block;
        
    }
    .titulo-header{
        display: block;
    }
    .imagen-logo-alura-oracle{
        display: block;
        transform: scale(0.5);
        padding: 20px 20px 20px 20px;
    }
    .parrafo-header{
        display: block; 
        padding: 0 0 10px 0;    
        font-size: 30px;
    }
    .caja-cuerpo{
        display: flex;
        flex-direction: column;
    }
    .texto-entrada{
        display: block;
        width: 100%;
    }
    .cajon-texto-encriptar{
        width: 100%;
        height: 100px;
    }
    .botones{
        padding-top: 5%;
        /* font-size: 20px; */
    }
    .boton-copiar, .boton-encriptar, .boton-desencriptar{
        font-size: 20px;
    }
    #texto-salida{
        width: 100%;
    }
    #bloque-texto-replace{
        width: 100%;
    }
    #bloque-texto{
        width: 100%;
        font-size: 20px;
    }
    #bloque-imagen{
        display: block;
        padding: 10% 30% 10% 30%;
    }
    .parrafo-footer{
        padding: 5% 15% 5% 15%;
        display: block;
    }
    .social-icons{
        padding: 0 40% 10% 40%;
    }
}